<% if @meds.count == 0 %>
  <p class="med_track">
    To start tracking a medication click the Track new Medication button down below!
  </p>
<% elsif @meds.count == 1 %>
  <p class="med_track">
    You are currently tracking <%= @meds.count %> Medication
  </p>
<% else %>
  <p class="med_track">
    You are currently tracking <%= @meds.count %> Medications
  </p>
<% end %>

<%= link_to 'Track a new medication', new_med_path, class: 'button large hollow expanded' %>

<% @meds.each do |med| %>
  <div class="callout">
    <h1><%= med.med_name %></h1>
    <p>
      You started tracking this medication on the <%= med.created_at.strftime("%eth of %B %Y") %>
    </p>
    <p>
      <%= @messages.sample %>
    </p>
    <%= link_to 'X' , delete_med_path(med.id), method: :delete, class: 'close-button', data: {confirm: 'Have you stopped taking this Medication?' }%>
    </button>
  </div>
<% end %>
