<h1>This is a User Edit page</h1>

<%= simple_form_for @user do |f|%>
  <%= f.input :name, label: 'Edit your name'%>
  <%= f.input :email, label: 'Edit your email' %>
  <%= f.input :phone_num, label: 'Edit your phone number'%>
  <%= f.submit 'Edit your user information', class: 'button hollow large'%>
<% end %>
