<h1 class="user-title">Join &#8478;emindMe</h1>

<%= simple_form_for @user do |f| %>
  <%= f.input :name, class: 'user-text'%>
  <%= f.input :email, class: 'user-text' %>
  <%= f.input :phone_num, label: 'Phone Number', class: 'user-text' %>
  <%= f.input :password, class: 'user-text'%>
  <%= f.submit class: 'button hollow large' %>
<% end %>
