<h1>THIS IS ALERTS INDEX IN DEVELOPMENT</h1>

<%= link_to 'Create an Alert', new_alert_path, class: 'button large expanded hollow'%>


 <% @alerts.each do |alert| %>

    <div class="callout large">
      <% if alert.alert_time < Time.now %>
        <p>
          Your alert for <%= alert.med.med_name %> has was sent at <%= alert.alert_time.strftime("%I:%M%p") %>
        </p>
        <%= link_to 'Delete', destroy_alert_path(alert), method: :delete %>
      <% else %>
        <h1> <%=alert.alert_time.strftime("Your alert for #{alert.med.med_name} is scheduled for %I:%M%p") %> </h1>
      <% end %>
    </div>

  <% end %>
