<h1>This is a form for Alerts</h1>

<%= simple_form_for @alert do |f| %>
  <%= f.input :med_id do %>
    <%= f.select :med_id, current_user.meds.map{|m| [m.med_name, m.id]}  %>
  <% end %>
  <%= f.input :alert_time%>
  <%= f.submit %>
<% end %>
