<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "\u211eemindMe" %></title>

    <%= favicon_link_tag 'favicon.ico' %>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <!-- #, 'data-turbolinks-track' => false -->
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Baloo+Tamma" rel="stylesheet">

  </head>

  <body>

  <p class="remindme_title">
      <%= link_to "\u211EemindMe", root_path%>
  </p>

  <div class="nav_wrapper">
    <ul class="menu">
      <% if current_user == nil %>
        <li><a href="<%= new_user_path %>">Sign-Up</a></li>
        <li><a href="<%= login_path %>">Log-In</a></li>
        <% elsif current_user != nil %>
        <li><a href="<%= meds_path(current_user) %>">Your Meds</a></li>
        <li><a href="<%= alerts_path %>">Your Alerts</a></li>
        <li><a href="<%= user_path(current_user) %>">Your Profile</a></li>
        <li><a href="<%= logout_path %>">Logout</a></li>
      <% end %>
    </ul>
  </div>


      <%= yield %>


      <% flash.each do |key, value| %>
      <div class="callout success">
        <%= value %>
      </div>
      <% end %>
  </body>
</html>
