<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <ul class="menu">
      <% if current_user == nil %>
        <li><a href="<%= new_user_path %>">Sign-Up</a></li>
        <li><a href="<%= login_path %>">Log-In</a></li>
      <% end %>
        <li><a href="#">New Medication</a></li>
        <li><a href="#">Edit Medication</a></li>
        <li><a href="<%= logout_path %>">Logout</a></li>
    </ul>
    <%= yield %>

  </body>
</html>
