<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>

<div class="app_wrapper">
  <p class="remindme_title">
    &#8478;emindMe
  </p>

  <div class="nav_wrapper">
    <ul class="menu">
      <% if current_user == nil %>
        <li><a href="<%= new_user_path %>">Sign-Up</a></li>
        <li><a href="<%= login_path %>">Log-In</a></li>
        <% elsif current_user != nil %>
        <li><a href="<%= meds_path(current_user) %>">Your Meds</a></li>
        <li><a href="<%= alerts_path %>">Your Alerts</a></li>
        <li><a href="<%= user_path(current_user) %>">Your Profile</a></li>
        <li><a href="<%= logout_path %>">Logout</a></li>
      <% end %>
    </ul>
  </div>

  <% flash.each do |key, value| %>
    <div class="callout success">
      <%= value %>
    </div>
  <% end %>

  </div>
      <%= yield %>


  </body>
</html>
